[Unit]
Description=smart home server
After=remote-fs.target nss-user-lookup.target time-sync.target network-online.target
Wants=network-online.target
                                        
[Service]
Type=simple
ExecStartPre=%h/.local/bin/smart-home-update
ExecStart=%h/.local/bin/smart-home-server
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=default.target
