[Unit]
Description=smart home server
After=pigpiod.service
                                        
[Service]
Type=simple
ExecStart=/usr/local/bin/smart-home-server
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=default.target
