<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href = "style.css"></link>
<script type="text/javascript" src="funcs.js"></script>

{% import 'jinjaMacros.html' as m %}

<html>
<script>
    {{ m.lcdFmtCheatSheet(values) }}

    async function updateDashboardElement(name, url){
        const element = document.getElementById(`dashboard-${name}`);

        var response;
        for(let i = 0; i < 3; i++){
            response = await fetch(url, {method: "GET"});
            if(!response.ok){
                continue;
            }
            if(!response.headers.get('content-type')?.includes('application/json')){
                return;
            }
            break;
        }
        if(response === undefined){
            window.alert(`Dashboard Update Error \nStatus: ${response.status} \n${response.statusText}`);
            return;
        }

        await response.json().then((json)=>{
            element.textContent = json['str'];
        });
    }

    function firstLoadDashboardElement(name, url){
        const element = document.getElementById(`dashboard-${name}`);
        const button = document.getElementById(`dashboardButton-${name}`);
        button.onclick = () => {
            element.textContent = "";
            updateDashboardElement(name, url);
        };
        updateDashboardElement(name, url);
    }

    const days = ['Sun', 'Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat'];
    const months = ['Jan','Feb','Mar','Apr','May','June','July','Aug','Sept','Oct','Nov','Dec']

    function getTime(){
        var dt = new Date();
        const dayName = days[dt.getDay()];
        const monthName = months[dt.getMonth()];
        //const year = dt.getFullYear();
        const date = dt.getDate();

        const secondsStr = String(dt.getSeconds()).padStart(2,'0');
        const minutesStr = String(dt.getMinutes()).padStart(2,'0');

        const hours = dt.getHours()
        const ampm    = Math.floor(hours/12)%2 == 0 ? 'AM' : 'PM';

        var hoursNum = hours%12;
        if(hoursNum == 0){
            hoursNum = 12;
        }
        const hoursStr   = String(hoursNum).padStart(2,'0');

        const time    = `${hoursStr}:${minutesStr}:${secondsStr} ${ampm}`

        return `${dayName}, ${monthName} ${date} \n${time}`;
    }

    async function clock(name){
        const element = document.getElementById(`dashboard-${name}`);
        const button = document.getElementById(`dashboardButton-${name}`);

        button.onclick = () => {
            element.textContent=getTime();
        };

        var cond = true;
        while(cond){
            element.textContent=getTime();
            await delay(1);
        }
    }

    async function noop(){
    }

    window.onload = () => {
        clock('clock');
        {% for element in dashboardElements %}
            firstLoadDashboardElement("{{ element['name'] }}", "{{ element['url'] }}");
        {% endfor %}
    }
</script>

<body>
    <div class="topnav">
        <a class="active" href="/dashboard">Dashboard</a>
        <a href="/remote">Remote</a>
        <a href="/schedule">Schedule</a>
        <a href="/trigger">Trigger</a>
        <a href="/notes">Note</a>
        <a href="/macros">Macro</a>
        <a href="/lcds">Lcd</a>
    </div> 

    <div class="dashboardList">
        <div>
            <button id="dashboardButton-clock" class="orangeButton" onclick="">Clock</button>
            <p id="dashboard-clock"></p>
        </div>
        {% for element in dashboardElements %}
            {% set name          = element['name'] %}
            {% set color         = element['color'] %}
            {% set url           = element['url'] %}
            {% set dashboard     = element['dashboard'] %}
            <div>
                <button class="{{ color }}Button" id="dashboardButton-{{ name }}">{{ name }}</button>
                {% if 'buttons' in dashboard %}
                    {% for button in dashboard['buttons'] %}
                            {% set actions = button['actions'] %}
                            {% set myList = [] %}

                            {% for action in actions %}

                                {% if action['type'] == 'request' %}
                                    {% set x = "sendData('%s', %s, '%s')" % (action['route'], action['data'], action['method']) %}
                                    {% do myList.append("function () {return %s}" % (x)) %}
                                {% elif action['type'] == 'reload' %}
                                    {% set x = "updateDashboardElement('%s', '%s')" % (name, url) %}
                                    {% do myList.append("function () {return %s}" % (x)) %}
                                {% elif action['type'] == 'info' %}
                                    {% set x = "window.alert(`%s`)" % (action['text']) %}
                                    {% do myList.append("function () {return %s}" % (x)) %}
                                {% endif %}

                            {% endfor %}

                            {% set onclick = "noop().then(%s)" % ( myList|join( ').then(' ) ) %}
                            <button class="{{ color }}Button" id="dashboardSubButton-{{ name }}-{{ button['text'] }}" onclick="{{ onclick }}">{{ button['text'] }}</button>

                    {% endfor %}
                {% endif %}

                {% if 'hideable' in dashboard and dashboard['hideable'] %}
                    {% set dropDownId =  'drop-down-button-%s' % (name) %}
                    {% set dashboardElementId =  'dashboard-%s' % (name) %}
                    {{ m.dropDownButton( dropDownId, dashboardElementId,color=color ) }}
                    <p id="dashboard-{{ name }}" style="display:none;"></p>
                {% else %}
                    <p id="dashboard-{{ name }}"></p>

                {% endif %}

            </div>
        {% endfor %}
  </body>
</html>
