<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href = "style.css"></link>
<script type="text/javascript" src="funcs.js"></script>

{% import 'macros.html' as m %}

<html>
<script>
    {{ m.lcdFmtCheatSheet(values) }}

    const delay = s => new Promise(res => setTimeout(res, 1000*s));

    // edit to re-enable polling
    const polling = false;

    async function updateDashboardElement(name, element, url){
        var response;
        for(let i = 0; i < 3; i++){
            response = await fetch(url, {method: "GET"});
            if(!response.ok){
                continue;
            }
            if(!response.headers.get('content-type')?.includes('application/json')){
                return;
            }
            break;
        }
        if(response === undefined){
            window.alert(`Dashboard Update Error \nStatus: ${response.status} \n${response.statusText}`);
            return;
        }
        //element.textContent = response.body;

        await response.json().then((json)=>{
            element.textContent = json['str'];
        });
    }

    async function pollDashboardElement(name, url, pollingPeriod){
        const element = document.getElementById(`dashboard-${name}`);
        const button = document.getElementById(`dashboardButton-${name}`);
        button.onclick = () => {
            element.textContent = "";
            updateDashboardElement(name, element, url);
        };
        updateDashboardElement(name, element, url);
        if(!polling){
            return
        }

        if(pollingPeriod == null || pollingPeriod == undefined || pollingPeriod < 1){
            window.alert("Error: Invalid Polling Period");
            return;
        }
        var cond = true;
        while(cond){
            await delay(pollingPeriod);
            updateDashboardElement(name, element, url);
        }
    }

    const days = ['Sun', 'Mon', 'Tues', 'Wed', 'Thurs', 'Fri', 'Sat'];
    const months = ['Jan','Feb','Mar','Apr','May','June','July','Aug','Sept','Oct','Nov','Dec']

    function getTime(){
        var dt = new Date();
        const dayName = days[dt.getDay()];
        const monthName = months[dt.getMonth()];
        //const year = dt.getFullYear();
        const date = dt.getDate();

        const secondsStr = String(dt.getSeconds()).padStart(2,'0');
        const minutesStr = String(dt.getMinutes()).padStart(2,'0');

        const hours = dt.getHours()
        const ampm    = Math.floor(hours/12)%2 == 0 ? 'AM' : 'PM';

        var hoursNum = hours%12;
        if(hoursNum == 0){
            hoursNum = 12;
        }
        const hoursStr   = String(hoursNum).padStart(2,'0');

        const time    = `${hoursStr}:${minutesStr}:${secondsStr} ${ampm}`

        return `${dayName}, ${monthName} ${date} \n${time}`;
    }

    async function clock(name){
        const element = document.getElementById(`dashboard-${name}`);
        const button = document.getElementById(`dashboardButton-${name}`);

        button.onclick = () => {
            element.textContent=getTime();
        };

        var cond = true;
        while(cond){
            element.textContent=getTime();
            await delay(1);
        }
    }

    async function editLCD(){
        const element = document.getElementById(`dashboard-LCD`);
        const text = element.textContent;
        const lines = text.split('\n')
        oldLine1 = lines.length > 0 ? lines[0] : ""
        oldLine2 = lines.length > 0 ? lines[1] : ""

        const line1 = window.prompt("LCD Line 1:", oldLine1);
        if(line1 === null){
            return;
        }
        const line2 = window.prompt("LCD Line 2:", oldLine2);

        var data = {'line1': line1};
        var newText = line1;
        if(line2 !== null){
            data['line2'] = line2;
            newText += '\n' + line2;
        }

        ok = await sendData('api/dashboard/lcd', data, 'POST');
        if(ok){
            element.textContent = newText;
        }
    }

    function getLCD(){
        const element = document.getElementById(`dashboard-LCD`);
        fetch('api/data/lcd', {method: "GET"})
        .then((response) => {
            if(!response.ok){
                window.alert(`Dashboard LCD Update Error \nStatus: ${response.status} \n${response.statusText}`);
                return;
            }
            //element.textContent = response.body;
            response.json().then((json)=>{element.textContent = json['str']});
        })
    }

    function toggleLCDBacklight(){
        fetch('api/dashboard/lcd/toggle', {method: "POST"})
        .then((response) => {
            if(!response.ok){
                window.alert(`Dashboard LCD ToggleBacklight Error \nStatus: ${response.status} \n${response.statusText}`);
                return;
            }
        })
    }

    window.onload = () => {
        clock('clock');
        getLCD()
        {% for element in dashboardElements %}
            pollDashboardElement("{{ element['name'] }}", "{{ element['url'] }}", {{ element['pollingPeriod'] }});
        {% endfor %}
    }
</script>

<body>
    <div class="topnav">
        <a class="active" href="/dashboard">Dashboard</a>
        <a href="/remote">Remote</a>
        <a href="/schedule">Schedule</a>
        <a href="/trigger">Trigger</a>
        <a href="/notes">Notes</a>
    </div> 

    <div class="dashboardList">
        <div>
            <button id="dashboardButton-clock" class="orangeButton" onclick="">Clock</button>
            <p id="dashboard-clock"></p>
        </div>
        {% for element in dashboardElements %}
            {% set name          = element['name'] %}
            {% set color         = element['color'] %}
            {% set url           = element['url'] %}
            <div>
                <button class="{{ color }}Button" id="dashboardButton-{{ name }}">{{ name }}</button>
                <p id="dashboard-{{ name }}"></p>
            </div>
        {% endfor %}
        <div>
            <button id="dashboardButton-LCD" class="purpleButton" onclick="getLCD()">LCD</button>
            <button id="dashboardButton-LCD-Edit" class="purpleButton" onclick="editLCD()">Edit</button>
            <button class="purpleButton" onclick="lcdFmtCheatSheet()">?</button>
            <button id="dashboardButton-LCD-Backlight" class="purpleButton" onclick="toggleLCDBacklight()">Light</button>
            <p id="dashboard-LCD"></p>
        </div>
  </body>
</html>
