<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href = "style.css"></link>
<script type="text/javascript" src="funcs.js"></script>

{% import 'jinjaMacros.html' as m %}

<html>
<script>
    function submitdatasourceHandler(event){
        event.preventDefault();
        let form = event.currentTarget;
        // Format
        // data = {"dataType": T, "T.x": ... , "T.some.data": ... , "T.some.otherdata": ...}
        var data = formToObject(form);

        toSubmit = {"datasourceType": data.datasourceType};
        dsType = data.datasourceType;

        Object.entries(data).forEach(([keyChain, value]) => {
            // Format
            // keys = ["T", "some", "data"]
            keys = keyChain.split('.')

            if(keys[0] == dsType && keys[0] != "datasourceType" && value != null){
                // we iterate over keys and create a property path to store our value
                // we keep track of the final container that will contain our value
                container = toSubmit

                keys.slice(1, -1).forEach((key => {
                    if(!Object.hasOwn(container, key)){
                        container[key] = {}
                    }
                    container = container[key]
                }))

                container[keys.at(-1)] = value;
            }
        })

        sendData('api/datasource', {"datasource": toSubmit}, 'POST', reload=true);
    }

    window.onload = () => {
        document.getElementById('datasourceForm').addEventListener('submit', submitdatasourceHandler);

        setupHideUnhideForm('datasourceType', 'datasourceFormHideUnhide')
    }

</script>

<body>
    {{ m.topnav("Datasources") }}

    <h3>Datasources:</h3>
    {% for ds in datasources %}
        {% set dss = datasourceSchemaDict[ds.datasourceType] %}
        {% set id = ds.name %}

        {% set schema = dss.properties %}
        {% set required = dss.required %}

        <form id="datasourceForm">
            {{ m.schemaToForm(schema, id, [], required, ds) }}
        </form>
    {% endfor %}

    <h3>New Datasource:</h3>
    <form id="datasourceForm">
        <section>
            <div class="formDiv">
                <label for="datasourceType">Type:</label>
                <select id="datasourceType" name="datasourceType" required>
                    {% for dss in datasourceSchemas %}
                        {% set schema = dss.properties %}
                        {% set datasourceType = schema.datasourceType.const %}
                        <option value="{{ datasourceType }}">{{ datasourceType | replace("Datasource", "", 1) }}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="dsTypeSelectBr" class="clear"></div>
        </section>
        <section id="datasourceFormHideUnhide">
            {% for dss in datasourceSchemas %}
                {% set schema = dss.properties %}
                {% set required = dss.required %}
                {% set datasourceType = schema.datasourceType.const %}

                {{ m.schemaToForm(schema, datasourceType, ["datasourceType"], required) }}
            {% endfor %}
        </section>

        <section>
            <div class="formDiv">
                <button type="submit" class="greenButton">Create Datasource</button>
            </div>
        </section>


        <br style="clear:both;" />

    </form>

  </body>
</html>
