

{% macro schemaToForm(schema, idPrefix, skipKeys, required, prePopulated = None) %}
    {% for key in schema %}
        {% if key not in skipKeys %}
            <div id="{{ idPrefix }}Div"  class="formDiv">

            {% set variable = schema[key] %}
            {% set uiInfo = variable.uiInfo if variable.uiInfo is defined else {} %}
            {% set label = uiInfo.label if uiInfo.label is defined else key %}
            {% set label = label | capitalize if uiInfo.labelCaps is not defined or uiInfo.labelCaps else label %}
            
            {% set prePop = prePopulated.key if prePopulated.key is defined else None %}

            {% if "enum" in variable %}
                <label for="{{ idPrefix }}.{{ key }}" id="{{ idPrefix }}.{{ key }}Label">{{ label }}:</label>
                <select id="{{ idPrefix }}.{{ key }}" name="{{ idPrefix }}.{{ key }}">
                    {% for color in variable.enum %}
                        <option value="{{ color }}" {{ "selected" if color == prePop }}>{{ color }}</option>
                    {% endfor %}
                </select>

            {% elif variable.type == "object" %}
                <div id="{{ idPrefix }}Div", class="formBoxDiv">
                    {{ label }}:
                    <div id="{{ idPrefix }}Br" class="clear"></div>
                    {{ schemaToForm(variable.properties, idPrefix+"."+key, [], variable.required, prePop) }}
                </div>

            {% elif variable.type in ["integer", "string", "boolean"] %}
                    <label for="{{ idPrefix }}.{{ key }}" id="{{ idPrefix }}.{{ key }}Label">{{ label }}:</label>
                    <input
                        id="{{ idPrefix }}.{{ key }}"
                        name="{{ idPrefix }}.{{ key }}"
                        {% if variable.type == "integer" %}
                                type="number"
                                size="{{ 
                                      uiInfo.size if uiInfo.size is defined else 
                                      variable.maximum|string|length if variable.maximum is defined 
                                      else 8
                                }}"
                                {% if variable.default is defined %}
                                    placeholder="{{ variable.default }}"
                                {% endif %}

                                {% if prePop != None %}
                                    value={{ prePop }}
                                {% endif %}

                                {% if variable.minimum is defined %}min="{{ variable.minimum }}"{% endif %}
                                {% if variable.maximum is defined %}max="{{ variable.maximum }}"{% endif %}
                        {% elif variable.type == "string" %}
                                type="text"
                                size="{{ 
                                      uiInfo.size if uiInfo.size is defined else 
                                      variable.maxLength if variable.maxLength is defined and variable.maxLength < 20 
                                      else 20
                                }}"
                                {% if variable.default is defined %}
                                    placeholder="{{ variable.default }}"
                                {% endif %}

                                {% if prePop != None %}
                                    value="{{ prePop }}"
                                {% endif %}

                                {% if variable.minLength is defined %}minLength="{{ variable.minLength }}"{% endif %}
                                {% if variable.maxLength is defined %}maxLength="{{ variable.maxLength }}"{% endif %}
                        {% elif variable.type == "boolean" %}
                                type="checkbox"
                                {% if prePop != None %}
                                    value="{{ prePop }}"
                                {% elif variable.default is defined %}
                                    value="{{ variable.default if variable.default is defined else "true"}}"
                                {% endif %}
                                checked="true"
                        {% endif %}

                    {% if key in required %}
                        data-is-required="true"
                        required
                    {% endif %}
                    />
            {% endif %}


        </div>
        {% if uiInfo.br is not defined or uiInfo.br %}
            <div id="{{ idPrefix }}Br" class="clear"></div>
        {% endif %}

        {% endif %} <!-- key not in skipKeys -->
    {% endfor %}
{% endmacro %}

{% macro jobFormDo(remotes, macros, lcds, includeDelay=False) %}
    <section id="jobFormHideUnhide">
        <div class="formDiv">
            <label for="do">Do:</label>
            <select id="do" name="do" required>
                <option value="press">press</option>
                <option value="lcd">lcd</option>
                <option value="reboot">reboot</option>
                <option value="update">update</option>
                <option value="macro">macro</option>
                {% if includeDelay %}
                    <option value="delay">delay</option>
                {% endif %}
            </select>
        </div>


        <div id="pressDiv" class="formDiv">
            <label for="pressRemote" id="pressRemoteLabel">Remote:</label>
            <select id="pressRemote" name="pressRemote">
            {% for remote in remotes %}
                <option value="{{ remote['id'] }}">{{ remote['name'] }}</option>
            {% endfor %}
            </select>
        </div>

        <div id="pressDiv"  class="formDiv">
            <label for="pressChannel" id="pressChannelLabel">Channel:</label>
            <input type="number" id="pressChannel" name="pressChannel" size="5" value="1">
        </div>

        <div id="pressDiv"  class="formDiv">
            <label for="pressValue" id="pressValueLabel">Value:</label>
            <select id="pressValue" name="pressValue">
                <option value="1">on</option>
                <option value="">off</option>
            </select>
        </div>

        <div id="lcdDiv" class="formDiv">
            <label for="lcdNum" id="lcdNumLabel">Lcd:</label>
            <select id="lcdNum" name="lcdNum">
            {% for lcd in lcds %}
                <option value="{{ lcd['num'] }}">{{ lcd['name'] }}</option>
            {% endfor %}
            </select>
        </div>

        <div id="lcdDiv" class="formDiv">
            <button type="button" id="lcdHelp" class="grayButton" onclick="lcdFmtCheatSheet()">Cheat Sheet</button>
        </div>

        <div id="lcdBr" class="clear"></div>
        <div id="lcdDiv" class="formDiv">
            <label for="lcdBacklight" id="lcdBacklight">Backlight:</label>

            <label for="lcdBacklight" class="formRadioButtonLabel">
                <input type="radio" id="lcdBacklight" name="lcdBacklight" value="same" checked>Same
            </label>
            <label for="lcdBacklight" class="formRadioButtonLabel">
                <input type="radio" id="lcdBacklight" name="lcdBacklight" value="on">On
            </label>
            <label for="lcdBacklight" class="formRadioButtonLabel">
                <input type="radio" id="lcdBacklight" name="lcdBacklight" value="off">Off
            </label>
            <label for="lcdBacklight" class="formRadioButtonLabel">
                <input type="radio" id="lcdBacklight" name="lcdBacklight" value="toggle">Toggle
            </label>

        </div>

        <div id="lcdBr" class="clear"></div>

        <div id="lcdDiv" class="formDiv">
            <label for="lcdName" id="lcdNameLabel">Name:</label>
            <input type="text" id="lcdName" name="lcdName" maxLength = "40" size="25">
        </div>

        <div id="lcdDiv" class="formDiv">
            <label for="lcdNameEdit" id="lcdNameEdit">Edit:</label>
            <input type="checkbox" id="lcdNameEdit" name="lcdNameEdit" value="true" checked="true">
        </div>

        <div id="lcdBr" class="clear"></div>

        <div id="lcdDiv" class="formDiv">
            <label for="lcdFmt" id="lcdFmtLabel">Format:</label>
            <textarea rows="4" cols="25" id="lcdFmt" name="lcdFmt"></textarea>
        </div>

        <div id="lcdDiv" class="formDiv">
            <label for="lcdFmtEdit" id="lcdFmtEdit">Edit:</label>
            <input type="checkbox" id="lcdFmtEdit" name="lcdFmtEdit" value="true" checked="true">
        </div>


        <div id="macroDiv" class="formDiv">
            <label for="macroIdDo" id="macroIdDoLabel">Macro:</label>
            <select id="macroIdDo" name="macroIdDo">
            {% for macro in macros %}
                <option value="{{ macro['id'] }}">{{ macro['name'] }}</option>
            {% endfor %}
            </select>
        </div>


        {% if includeDelay %}
            <div id="delayDiv" class="formDiv">
                <label for="delayHours" id="delayHours">Hours:</label>
                <input type="number" id="delayHours" name="delayHours" size="5" value="0">
            </div>

            <div id="delayDiv" class="formDiv">
                <label for="delayMinutes" id="delayMinutes">Minutes:</label>
                <input type="number" id="delayMinutes" name="delayMinutes" size="5" value="0">
            </div>

            <div id="delayDiv" class="formDiv">
                <label for="delaySeconds" id="delaySecondsLabel">Seconds:</label>
                <input type="number" id="delaySeconds" name="delaySeconds" size="5" value="0">
            </div>
        {% endif %}
    </section>
{% endmacro %}



{% macro jobRepr(type, data, macros, remotes, lcds, br=True, cursor=True) %}
    {% if br %}
        <br/>
    {% endif %}

    {% if cursor %}
        <span class="nobr">> </span>
    {% endif %}
    {% if type == "press" %}

        {% set match = remotes|selectattr("id", "==", data['id'])|list %}
        {% if match|length == 0 %}
            <span class="nobr">press DELETED REMOTE! </span>
        {% else %}
            <span class="nobr">press {{ match[0]['name'] }} ch: {{ data['channel'] + 1 }} {{'on' if data['value'] else 'off' }}</span>
        {% endif %}

    {% elif type == "lcd" %}
        {% set match = lcds|selectattr("num", "==", data['num'])|list %}
        {% if match|length == 0 %}
            <span class="nobr">Update LCD {{ data['num'] }}: DELETED! </span>
        {% else %}
            <span class="nobr">Update LCD {{ data['num'] }}: {{ match[0]['name'] }}</span>
        {% endif %}

        {% if 'backlight' in data %}
        <br/>
            <span class="nobr">→ Backlight: {{data['backlight']}}</span>
        {% endif %}

        {% if 'name' in data %}
        <br/>
            <span class="nobr">→ New Name: {{data['name']}}</span>
        {% endif %}
        {% if 'fmt' in data %}
        <br/>
                <span class="nobr">→ New Format:</span>
                <p>{{ data['fmt'] }}</p>
        {% endif %}

    {% elif type == "reboot" %}
        <span class="nobr">reboot</span>
    {% elif type == "update" %}
        <span class="nobr">update</span>
    {% elif type == "macro" %}
        {% set match = macros|selectattr("id", "==", data['id'])|list %}
        {% if match|length == 0 %}
            <span class="nobr">Run Macro: DELETED MACRO! </span>
        {% else %}
            <span class="nobr">Run Macro: {{ match[0]['name'] }}</span>
        {% endif %}
    {% elif type == 'delay' %}
        <span class="nobr">delay for: </span>
        {% if 'hours' in data and data['hours']%}
            <span class="nobr">{{ data['hours'] }}h </span>
        {% endif %}

        {% if 'minutes' in data and data['minutes']%}
            <span class="nobr">{{ data['minutes'] }}m </span>
        {% endif %}

        {% if 'seconds' in data and data['seconds']%}
            <span class="nobr">{{ data['seconds'] }}s </span>
        {% endif %}
    {% else %}
        <span class="nobr">Unrecognized Job Type: {{ type }}</span>
    {% endif %}
{% endmacro %}

{% macro lcdFmtCheatSheet(values) %}
    values = [
    {% for value in values %}
        "{{ value }}",
    {% endfor %}
    ]
    function lcdFmtCheatSheet(){
        window.alert(`\nFMT Cheat Sheet: \n  {${values.join('}\n  {')}}`);
    }
{% endmacro %}


{% macro deleteButton(onclick) %}
    <button class="redButton", onclick = "{{ onclick }}"">✕</button>
{% endmacro %}

{% macro enabledButton(onclick) %}
    <button class="greenButton", onclick = "{{ onclick }}"">⏻</button>
{% endmacro %}

{% macro disabledButton(onclick) %}
    <button class="redButton", onclick = "{{ onclick }}"">🛇</button>
{% endmacro %}

{% macro dropDownButton(dropDownId, elementId, color="purple") %}
    <button class="{{color}}Button", id="{{ dropDownId }}", onclick = "toggleDropDown('{{ dropDownId }}', '{{ elementId }}')"">⏷</button>
{% endmacro %}

{% macro topnav(activeTab) %}
    {% set tabs = [
        ("/dashboard", "Dashboard"),
        ("/notes", "Note"),
        ("/lcds", "Lcd"),
        ("/remote", "Remote"),
        ("/schedule", "Schedule"),
        ("/trigger", "Trigger"),
        ("/macros", "Macro"),
        ("/graphs", "Graph"),
        ("/datasources", "Datasources"),
    ] %}
    <div class="topnav">
        {% for tab in tabs %}
        {% set active = 'class=active' if activeTab == tab[1] else "" %}
        <a {{ active }} href="{{ tab[0] }}">{{ tab[1] }}</a>
        {% endfor %}
    </div>
{% endmacro %}
