<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href = "style.css"></link>
<script type="text/javascript" src="funcs.js"></script>

{% import 'jinjaMacros.html' as m %}

<html>
<script>
    {{ m.lcdFmtCheatSheet(values) }}

    function addToMacroHandler(event){
        event.preventDefault();
        let form = event.currentTarget;
        var data = formToObject(form);

        toSubmit = {}

        if(!processDoData(data, toSubmit)){
            return;
        }

        toSubmit.index = 'macroItemIndex' in data ? Number(data.macroItemIndex) : -1;

        sendData('api/macro/item', toSubmit, 'POST', reload=true);
    }

    function macroPost(url){
        var data = {};
        return sendData(url, data, 'POST', reload=true);
    }

    function macroDelete(url, id){
        var data = {'id': jobId};
        const macroElement = document.getElementById(`macro-${id}`);
        return sendData(url, data, 'DELETE').then((success)=>{
            if(success){
                macroElement.remove();
            }
        });
    }
    function macroRun(url, id){
        const runButton = document.getElementById(`macro-run-button-${id}`);
        var data = {'id': jobId};

        return sendData(url, data, 'POST').then((success)=>{
            if(success){
                tempChangeButton(runButton, "Running!");
            }
        });
    }
    function macroItemDelete(url, id, itemId){
        var data = {'id': jobId, 'itemId': itemId};
        const macroItemElement = document.getElementById(`macro-item-${id}-${itemId}`);
        return sendData(url, data, 'DELETE').then((success)=>{
            if(success){
                macroItemElement.remove();
            }
        });
    }

    function newMacroHandler(event){
        event.preventDefault();
        let form = event.currentTarget;
        var data = formToObject(form);

        const name = 'newMaroName' in data ? data.newMacroName : ''
        toSubmit = {name: name}

        toSubmit.index = 'macroItemIndex' in data ? Number(data.macroItemIndex) : -1;

        sendData('api/macro', toSubmit, 'POST', reload=true);
    }


    window.onload = () => {
        document.getElementById('addToMacroFrom').addEventListener('submit', addToMacroHandler);
        document.getElementById('newMacroForm').addEventListener('submit', newMacroHandler);

        hideUnhideJobForms(document.querySelector('#do'));
        document.querySelector('#do').addEventListener("change", function(dropDown) {hideUnhideJobForms(dropDown.target)});
    }
</script>


<body>
    <div class="topnav">
        <a href="/dashboard">Dashboard</a>
        <a href="/remote">Remote</a>
        <a href="/schedule">Schedule</a>
        <a href="/trigger">Trigger</a>
        <a href="/notes">Notes</a>
        <a class="active" href="/macros">Macros</a>
    </div> 

    <h3>Current Macros:</h3>
        <ul>
            {% if macros|length == 0 %}
                <center class="faintText">No Macros</center>
            {% endif %}

            {% for macro in macros %}
                {% set macroId   = macro['id'] %}
                {% set macroName = macro['name'] %}
                {% set sequence  = macro['sequence'] %}
                <li>
                    <div class="macro-{{ macroId }}">
                        <button class="redButton", onclick = "macroDelete('api/macro', '{{ macroId }}')"">X</button>
                        <button class="blueButton">{{ macroName }}</button>
                        <button class="greenButton", id="macro-run-button-{{ macroId }}", onclick = "runMacro('api/macro/run', '{{ macroId }}')"">Run</button>

                        <ul class="macroItems">
                            {% for item in sequence %}
                                {% set itemId    = item['id'] %}
                                {% set itemType  = item['type'] %}
                                {% set itemData  = item['data'] %}
                                <li>
                                    <div class="macro-item-{{ macroId }}-{{ itemId }}">
                                        <button class="redButton", onclick = "macroItemDelete('api/macro/delete', '{{ macroId }}', '{{ itemId }}')"">X</button>

                                        {% if type == 'delay' %}
                                            <span class="nobr">delay for: </span>
                                            {% if 'hours' in data %}
                                                <span class="nobr">{{ data['hours'] }}hrs </span>
                                            {% endif %}

                                            {% if 'minutes' in data %}
                                                <span class="nobr">{{ data['minutes'] }}min </span>
                                            {% endif %}

                                            {% if 'seconds' in data %}
                                                <span class="nobr">{{ data['seconds'] }}sec </span>
                                            {% endif %}
                                        {% else %}
                                            {% set do = job['do'] %}
                                            {{ m.jobRepr(do['type'], do['data']) }}
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>

    <h3>New Macro:</h3>
        <form id="newMacroForm">
            <section>
                <div class="formDiv">
                    <label for="newMacroName" id="newMacroNameLabel">Name:</label>
                    <input type="text" id="newMacroName" name="newMacroName" maxLength = "40" size="20" required>
                </div>

                <br style="clear:both;" />

                <div class="formDiv">
                    <button type="submit" class="purpleButton">New Macro</button>
                </div>

                <br style="clear:both;" />
            </section>
        </form>

    <h3>Add Item To Macro:</h3>

        <form id="addToMacroFrom">
            <section>
                <div class="formDiv">
                    <label for="macroId" id="macroIdLabel">Macro:</label>
                    <select id="macroId" name="macroId" required>
                    {% for macro in macros %}
                        <option value="{{ macro['id'] }}">{{ macro['name'] }}</option>
                    {% endfor %}
                    </select>
                    <label for="macroitemIndex" id="macroitemIndexLabel">Index:</label>
                    <input type="quantity" id="macroItemIndex" name="macroItemIndex" min="-1" max="100" size="3" placeholder="-1">
                </div>
            </section>

            <br style="clear:both;" />

            {{ m.jobFormDo(remotes, includeDelay=True) }}

            <br style="clear:both;" />

            <section>
                <div class="formDiv">
                    <button type="submit" class="greenButton">Add To Macro</button>
                </div>
            </section>

            <br style="clear:both;" />

        </form>
  </body>
</html>
