<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href = "style.css"></link>
<script type="text/javascript" src="funcs.js"></script>

{% import 'jinjaMacros.html' as m %}

<html>
<script>
    {{ m.lcdFmtCheatSheet(values) }}

    const weekdays = ["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]

    function submitJobHandler(event){
        event.preventDefault();
        let form = event.currentTarget;
        var data = formToObject(form);

        toSubmit = {}

        if(!processDoData(data, toSubmit)){
            return;
        }

        // every is not compatible with days of the week
        if(weekdays.indexOf(data.unit) !== -1){
            delete data.every;
        }
        if(data.unit === "week"){
            delete data.atHours;
            delete data.atMinutes;
            delete data.atSeconds;
        }

        // remove empty, null, undefined
        data = Object.fromEntries(Object.entries(data).filter(([_, v]) => v !== null && v !== undefined && v!== ""));

        if ('atHours' in data){toSubmit.atHours = Number(data.atHours);}
        if ('atMinutes' in data){toSubmit.atMinutes = Number(data.atMinutes);}
        if ('atSeconds' in data){toSubmit.atSeconds = Number(data.atSeconds);}
        if ('every' in data){toSubmit.every = Number(data.every);}
        toSubmit.unit = data.unit
        toSubmit.name = data.name

        sendData('api/schedule', toSubmit, 'POST', reload=true);
    }

    function hideUnhideEvery(dropDown){
        const everyText = document.querySelector(`[id=everyText]`);
        const everyInput = document.querySelector(`[id=everyInput]`);

        everyText.style.display = "block";
        everyInput.style.display = "inline";

        // if dropdown value is one of the days of the week
        if (weekdays.indexOf(dropDown.value) !== -1) {
            everyText.style.display = "none";
            everyInput.style.display = "none";
            return;
        } 
    }

    function hideUnhideAtTimes(dropDown){
        const atText = document.querySelector(`[id=atText]`);
        const atSeconds = document.querySelector(`[id=atSeconds]`);
        const atMinutes = document.querySelector(`[id=atMinutes]`);
        const atHours = document.querySelector(`[id=atHours]`);

        atText.style.display = "block";
        atSeconds.style.display = "inline";
        atMinutes.style.display = "inline"
        atHours.style.display = "inline";

        if (dropDown.value === "second" || dropDown.value == "week") {
            atText.style.display = "none";
            atSeconds.style.display = "none";
            atMinutes.style.display = "none"
            atHours.style.display = "none";
            return;
        } 
        if (dropDown.value == "minute"){
            atMinutes.style.display = "none"
            atHours.style.display = "none";
            return;
        }
        if (dropDown.value == "hour"){
            atHours.style.display = "none";
            return;
        }
    }

    window.onload = () => {
        document.getElementById('jobForm').addEventListener('submit', submitJobHandler);

        hideUnhideJobForms(document.querySelector('#do'));
        document.querySelector('#do').addEventListener("change", function(dropDown) {hideUnhideJobForms(dropDown.target)});
    }
    
</script>


<body>
    <div class="topnav">
        <a href="/dashboard">Dashboard</a>
        <a href="/remote">Remote</a>
        <a href="/schedule">Schedule</a>
        <a href="/trigger">Trigger</a>
        <a href="/notes">Notes</a>
        <a class="active" href="/macros">Macros</a>
    </div> 

    <h3>Current Macros:</h3>
        <ul>
            {% if macros|length == 0 %}
                <center class="faintText">No Macros</center>
            {% endif %}

            {% for macro in macros %}
                {% set macroId   = macro['id'] %}
                {% set macroName = macro['name'] %}
                {% set sequence  = macro['sequence'] %}
                <li>
                    <div class="macro">
                        <button class="redButton", onclick = "macroDelete('api/macro', '{{ macroId }}')"">X</button>
                        <button class="blueButton">{{ macroName }}</button>
                        <button class="greenButton", onclick = "runMacro('api/macro/run', '{{ macroId }}')"">Run</button>

                        <ul class="macroItems">
                            {% for item in sequence %}
                                {% set itemId    = item['id'] %}
                                {% set itemType  = item['type'] %}
                                {% set itemData  = item['data'] %}
                                <li>
                                    <div class="macroItem">
                                        <button class="redButton", onclick = "macroItemDelete('api/macro/delete', '{{ macroId }}', '{{ itemId }}')"">X</button>

                                        {% if type == 'delay' %}
                                            <span class="nobr">delay for: </span>
                                            {% if 'hours' in data %}
                                                <span class="nobr">{{ data['hours'] }}hrs </span>
                                            {% endif %}

                                            {% if 'minutes' in data %}
                                                <span class="nobr">{{ data['minutes'] }}min </span>
                                            {% endif %}

                                            {% if 'seconds' in data %}
                                                <span class="nobr">{{ data['seconds'] }}sec </span>
                                            {% endif %}
                                        {% else %}
                                            {% set do = job['do'] %}
                                            {{ m.jobRepr(do['type'], do['data']) }}
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>

    <button class="purpleButton">New Macro</button>
    <h3>Add Item To Macro:</h3>

        <form id="jobForm">
            <section>
                <div class="formDiv">
                    <label for="macroId">Macro:</label>
                    <select id="macroIdInput" name="macroId" required>
                    {% for macro in macros %}
                        <option value="{{ macro['id'] }}">{{ macro['name'] }}</option>
                    {% endfor %}
                    </select>
                    <label for="itemIndex" id="itemIndexText">Index:</label>
                    <input type="quantity" id="itemIndexInput" name="itemIndex" min="-1" max="100" size="3" placeholder="-1">
                </div>
            <section>

            <br style="clear:both;" />

            {{ m.jobFormDo(remotes) }}

            <br style="clear:both;" />

            <section>
                <div class="formDiv">
                    <button type="submit" class="greenButton">Add To Macro</button>
                </div>
            </section>

            <br style="clear:both;" />

        </form>
  </body>
</html>
