<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href = "style.css"></link>
<script type="text/javascript" src="funcs.js"></script>

<html>
<script>
    function channelClick(channelNum, onOff){
        var data = {'presses': [{'channel': channelNum, 'value': onOff}]}
        sendData('api/remote', data)
    }
</script>


<div class="topnav">
    <a href="/dashboard">Dashboard</a>
    <a class="active" href="/remote">Remote</a>
    <a href="/scheudle">Schedule</a>
</div> 

<body>
    <ul class="remote">
        {% for channel in channels %}
            <li>
                <div class="on-off-channel">
                    <button class="redButton", onclick = "channelClick({{ channel }}, false)"">off</button>
                    <nobr>{{ channel }}</nobr>
                    <button class="greenButton", onclick = "channelClick({{ channel }}, true)"">on</button>
                </div>
            </li>
        {% endfor %}
    </ul>
  </body>
</html>
