<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href = "style.css"></link>
<script type="text/javascript" src="funcs.js"></script>

{% import 'jinjaMacros.html' as m %}

<html>
<script>
    {{ m.lcdFmtCheatSheet(values) }}

    const weekdays = ["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]

    function submitJobHandler(event){
        event.preventDefault();
        let form = event.currentTarget;
        var data = formToObject(form);

        toSubmit = {}

        if(!processDoData(data, toSubmit)){
            return;
        }

        // every is not compatible with days of the week
        if(weekdays.indexOf(data.unit) !== -1){
            delete data.every;
        }
        if(data.unit === "week"){
            delete data.atHours;
            delete data.atMinutes;
            delete data.atSeconds;
        }

        // remove empty, null, undefined
        data = Object.fromEntries(Object.entries(data).filter(([_, v]) => v !== null && v !== undefined && v!== ""));

        if ('atHours' in data){toSubmit.atHours = Number(data.atHours);}
        if ('atMinutes' in data){toSubmit.atMinutes = Number(data.atMinutes);}
        if ('atSeconds' in data){toSubmit.atSeconds = Number(data.atSeconds);}
        if ('every' in data){toSubmit.every = Number(data.every);}
        toSubmit.unit = data.unit
        toSubmit.name = data.name

        sendData('api/schedule', toSubmit, 'POST', reload=true);
    }

    function hideUnhideEvery(dropDown){
        const everyText = document.querySelector(`[id=everyText]`);
        const everyInput = document.querySelector(`[id=everyInput]`);

        everyText.style.display = "block";
        everyInput.style.display = "inline";

        // if dropdown value is one of the days of the week
        if (weekdays.indexOf(dropDown.value) !== -1) {
            everyText.style.display = "none";
            everyInput.style.display = "none";
            return;
        } 
    }

    function hideUnhideAtTimes(dropDown){
        const atText = document.querySelector(`[id=atText]`);
        const atSeconds = document.querySelector(`[id=atSeconds]`);
        const atMinutes = document.querySelector(`[id=atMinutes]`);
        const atHours = document.querySelector(`[id=atHours]`);

        atText.style.display = "block";
        atSeconds.style.display = "inline";
        atMinutes.style.display = "inline"
        atHours.style.display = "inline";

        if (dropDown.value === "second" || dropDown.value == "week") {
            atText.style.display = "none";
            atSeconds.style.display = "none";
            atMinutes.style.display = "none"
            atHours.style.display = "none";
            return;
        } 
        if (dropDown.value == "minute"){
            atMinutes.style.display = "none"
            atHours.style.display = "none";
            return;
        }
        if (dropDown.value == "hour"){
            atHours.style.display = "none";
            return;
        }
    }

    window.onload = () => {
        document.getElementById('jobForm').addEventListener('submit', submitJobHandler);

        // hide form fields for jobs unless they are selected in do dropdown
        hideUnhideAtTimes(document.querySelector('#unit'));
        document.querySelector('#unit').addEventListener("change", function(dropDown) {hideUnhideAtTimes(dropDown.target)});

        hideUnhideJobForms(document.querySelector('#do'));
        document.querySelector('#do').addEventListener("change", function(dropDown) {hideUnhideJobForms(dropDown.target)});

        hideUnhideEvery(document.querySelector('#unit'));
        document.querySelector('#unit').addEventListener("change", function(dropDown) {hideUnhideEvery(dropDown.target)});
    }
    
</script>


<body>
    <div class="topnav">
        <a href="/dashboard">Dashboard</a>
        <a href="/remote">Remote</a>
        <a class="active" href="/schedule">Schedule</a>
        <a href="/trigger">Trigger</a>
        <a href="/notes">Note</a>
        <a href="/macros">Macro</a>
        <a href="/lcds">Lcd</a>
        <a href="/graphs">Graph</a>
    </div> 

    <h3>Current Schedule:</h3>
        <ul>
            {% if jobs|length == 0 %}
                <center class="faintText">Schedule Empty</center>
            {% endif %}

            {% for job in jobs %}
                {% set jobId = job['id'] %}
                {% set jobName = job['name'] %}

                {% set dropDownId =  'drop-down-button-%s' % (jobId) %}
                {% set jobTextId =  'job-text-%s' % (jobId) %}
                <li>
                    <div class="job">
                        <span class="buttonBar">
                            {{ m.deleteButton( "jobDelete('api/schedule/jobs', '%s')" % (jobId) ) }}

                            <button class="blueButton" onclick="updateJobName('api/schedule/jobs', '{{ jobId }}', '{{ jobName }}' )">{{ jobName }}</button>

                            {{ m.dropDownButton( dropDownId, jobTextId ) }}

                            {% if job['enabled'] %}
                                {{ m.enabledButton( "jobEnable('api/schedule/jobs/enable', '%s', false)" % (jobId) ) }}
                            {% else %}
                                {{ m.disabledButton( "jobEnable('api/schedule/jobs/enable', '%s', true)" % (jobId) ) }}
                            {% endif %}
                        </span>




                        <div class="jobText" id="{{ jobTextId }}">
                            <span class="nobr">every </span>
                            {% if 'every' in job %}
                                <span class="nobr">{{ job['every'] }} {{ job['unit'] }}</span>
                            {% else %}
                                <span class="nobr"> {{ job['unit'] }} </span>
                            {% endif %}

                            {% if 'at' in job %}
                                <span class="nobr">at {{ job['at'] }} </span>
                            {% endif %}

                            {% set do = job['do'] %}
                            {{ m.jobRepr(do['type'], do['data'], macros, remotes, lcds) }}
                        </div>


                    </div>
                </li>
            {% endfor %}
        </ul>

    <h3>New Job:</h3>

        <form id="jobForm">
            <section>
                <div class="formDiv">
                    <label for="jobName">Job Name:</label>
                    <input type="text" id="jobName" name="name" maxLength = "20" required>
                </div>
            <section>

            <br style="clear:both;" />

            <section>
                <div class="formDiv">
                    <label for="every" id="everyText">Every:</label>
                    <input type="quantity" id="everyInput" name="every" min="1" max="100" size="3" placeholder=1>
                </div>

                <div class="formDiv">
                    <label for="unit">Unit:</label>
                    <select id="unit" name="unit" required>
                    {% for unit in timeUnits %}
                        <option value="{{ unit }}">{{ unit }}</option>
                    {% endfor %}
                    </select>
                </div>

                <div class="formDiv">
                    <label for="at" id="atText">At:</label>
                    <input type="number" class="atInput" id="atHours" name="atHours" size="2" min="0" max="23" placeholder="HH">
                    <input type="number" class="atInput" id="atMinutes" name="atMinutes" size="2" min="0" max="59" placeholder="MM">
                    <input type="number" class="atInput" id="atSeconds" name="atSeconds" size="2" min="0" max="59" placeholder="SS">
                </div>
            </section>

            <br style="clear:both;" />

            {{ m.jobFormDo(remotes, macros, lcds) }}

            <br style="clear:both;" />

            <section>
                <div class="formDiv">
                    <button type="submit" class="greenButton">Create Job</button>
                </div>
            </section>

            <br style="clear:both;" />

        </form>
  </body>
</html>
