<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href = "style.css"></link>
<script type="text/javascript" src="funcs.js"></script>

<html>
<script>
    function jobEnable(jobId, enable){
        var data = {'id': job['id'], 'enable': enable}
        sendData('api/schedule/jobs/enable', data)
        location.reload();
    }
    function jobDelete(jobId){
        var data = {'id': job['id']}
        sendData('api/schedule/jobs', data, 'DELETE')
        location.reload();
    }

    function padZeros(numStr, len){
        console.log(numStr);
        console.log(len);
        if(numStr.length >= len){
            return numStr
        }
        return "0".repeat(len-numStr.length).concat(numStr)
    }

    function submitJobHandler(event){
        event.preventDefault();
        let form = event.currentTarget;
        var data = formToObject(form)

        data.at = ""
        if(data.atHours !== ""){
            data.at = data.at.concat(`${padZeros(data.atHours,2)}:`)
            data.at = data.at.concat(data.atMinutes !== "" ? padZeros(data.atMinutes,2) : "00")
            data.at = data.at.concat(data.atSeconds !== "" ? padZeros(data.atSeconds,2) : "00")
        } else if(data.atMinutes !== "") {
            data.at = data.at.concat(`:${padZeros(data.atMinutes,2)}:`)
            data.at = data.at.concat(data.atSeconds !== "" ? padZeros(data.atSeconds,2) : "00")
        } else if(data.atSeconds !== "") {
            data.at = data.at.concat(`:${padZeros(data.atSeconds,2)}`)
        }

        // TODO: deal with error case better
        if(data.do = "press"){
            data.do = {type:"press", data:{channel: Number(data.pressChannel), value: Boolean(data.pressValue)}}
        }
        else{
            console.log("error")
        }

        data = Object.fromEntries(Object.entries(data).filter(([_, v]) => v !== null && v !== undefined && v!== ""));

        delete data.atHours;
        delete data.atMinutes;
        delete data.atSeconds;
        console.log(data);

        sendData('api/schedule', data, httpMethod = 'POST');
        //location.reload();
    }

    function hideUnhideJobForms(dropDown){
        // iterate over options in the drop down
        Array.from(dropDown.options).forEach((dropDownOption) => {
            // get all elements which match that option
            const optionElements = document.querySelectorAll(`[id^='${dropDownOption.value}']`);

            // see if they match the current value
            if (dropDown.value === dropDownOption.value) {
                // if so, display them
                optionElements.forEach((element) => {element.style.display = "block"});
            } else {
                // else hide them
                optionElements.forEach((element) => {element.style.display = "none"});
            }
        })
    }

    function hideUnhideAtTimes(dropDown){
        const atText = document.querySelector(`[id=atText]`);
        const atSeconds = document.querySelector(`[id=atSeconds]`);
        const atMinutes = document.querySelector(`[id=atMinutes]`);
        const atHours = document.querySelector(`[id=atHours]`);

        atText.style.display = "block";
        atSeconds.style.display = "inline";
        atMinutes.style.display = "inline"
        atHours.style.display = "inline";

        if (dropDown.value === "second") {
            atText.style.display = "none";
            atSeconds.style.display = "none";
            atMinutes.style.display = "none"
            atHours.style.display = "none";
            return;
        } 
        if (dropDown.value == "minute"){
            atMinutes.style.display = "none"
            atHours.style.display = "none";
            return;
        }
        if (dropDown.value == "hour"){
            atHours.style.display = "none";
            return;
        }
    }

    window.onload = () => {
        document.getElementById('jobForm').addEventListener('submit', submitJobHandler);

        // hide form fields for jobs unless they are selected in do dropdown
        hideUnhideAtTimes(document.querySelector('#unit'));
        document.querySelector('#unit').addEventListener("change", function(dropDown) {hideUnhideAtTimes(dropDown.target)});

        hideUnhideJobForms(document.querySelector('#do'));
        document.querySelector('#do').addEventListener("change", function(dropDown) {hideUnhideJobForms(dropDown.target)});
    }
    
</script>

<div class="topnav">
    <a href="/dashboard">Dashboard</a>
    <a href="/remote">Remote</a>
    <a class="active" href="/schedule">Schedule</a>
</div> 

<body>
    <h3>Current Schedule:</h3>
    <div class="indent">
        <ul class="schedule">
            {% if jobs|length == 0 %}
                <p>Schedule Empty</p>
            {% endif %}

            {% for job in jobs %}
                <li>
                    <div class="job">
                        <button class="redButton", onclick = "jobDelete({{ job['id'] }})"">X</button>

                        {% if job['enabled'] %}
                            <button class="greenButton", onclick = "jobEnable({{ job['id'] }}, false )"">active</button>
                        {% else %}
                            <button class="redButton", onclick = "jobEnable({{ job['id'] }}, true )"">inactive</button>
                        {% endif %}

                        <nobr>{{ job['name'] }}: </nobr>

                        <nobr>every </nobr>
                        {% if 'every' in job %}
                            <nobr>{{ job['every'] }} {{ job['unit'] }}</nobr>
                        {% else %}
                            <nobr> {{ job['unit'] }} </nobr>
                        {% endif %}

                        {% if 'at' in job %}
                            <nobr>at {{ job['at'] }} => </nobr>
                        {% endif %}

                        {% set do = job['do'] %}
                        {% set type = do['type'] %}
                        {% set data = do['data'] %}

                        {% if type == "press" %}
                        <nobr>switch channel:{{ data['channel'] }} {{'on' if data['value'] else 'off' }}</nobr>
                        {% else %}
                            <nobr>Unrecognized Job Type: {{ type }}</nobr>
                        {% endif %}
                            

                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <h3>New Job:</h3>

    <div class="indent">
        <form id="jobForm">
            <section>
                <div class="formDiv">
                    <label for="jobName">Job Name:</label>
                    <input type="text" id="jobName" name="name" required>
                </div>
            <section>

            <br style="clear:both;" />

            <section>
                <div class="formDiv">
                    <label for="every">Every:</label>
                    <input type="quantity" id="every" name="every" min="1" max="100" size="3" placeholder=1>
                </div>

                <div class="formDiv">
                    <label for="unit">Unit:</label>
                    <select id="unit" name="unit" required>
                    <option value="second">second</option>
                    <option value="minute">minute</option>
                    <option value="hour">hour</option>
                    <option value="day">day</option>
                    <option value="week">week</option>
                    <option value="monday">monday</option>
                    <option value="tuesday">tuesday</option>
                    <option value="wednesday">wednesday</option>
                    <option value="thursday">thursday</option>
                    <option value="friday">friday</option>
                    <option value="saturday">saturday</option>
                    <option value="sunday">sunday</option>
                    </select>
                </div>

                <div class="formDiv">
                    <label for="at" id="atText">At:</label>
                    <input type="number" class = "atInput" id="atHours" name="atHours" size="2" min="0" max="23" placeholder="HH">
                    <input type="number" class="atInput" id="atMinutes" name="atMinutes" size="2" min="0" max="59" placeholder="MM">
                    <input type="number" class="atInput" id="atSeconds" name="atSeconds" size="2" min="0" max="59" placeholder="SS">
                </div>
            </section>

            <br style="clear:both;" />

            <section>
                <div class="formDiv">
                    <label for="do">Do:</label>
                    <select id="do" name="do" required>
                    <option value="press">press</option>
                    </select>
                </div>

                <div class="formDiv">
                    <label for="pressChannel" id="pressChannelLabel">Channel:</label>
                    <input type="number" id="pressChannel" name="pressChannel" min={{ minChannel }} max= {{ maxChannel }} size="5" value="0">
                </div>

                <div class="formDiv">
                    <label for="pressValue" id="pressValueLabel">Value:</label>
                    <select id="pressValue" name="pressValue">
                    <option value="1">on</option>
                    <option value="">off</option>
                    </select>
                </div>
            </section>

            <br style="clear:both;" />

            <section>
                <div class="formDiv">
                    <button type="submit" class="greenButton">Create Job</button>
                </div>
            </section>

            <br style="clear:both;" />

        </form>
    </div>

  </body>
</html>
