<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href = "style.css"></link>
<script type="text/javascript" src="funcs.js"></script>

{% import 'jinjaMacros.html' as m %}

<html>
<script>
    {{ m.lcdFmtCheatSheet(values) }}

    function submitJobHandler(event){
        event.preventDefault();
        toSubmit = {}

        let form = event.currentTarget;
        var data = formToObject(form);

        if(!processDoData(data, toSubmit)){
            return;
        }

        toSubmit.negated = Boolean(data.negated)
        toSubmit.firstVar = {value: data.firstVar}

        if(data.secondVarType == 'constant'){
            toSubmit.secondVar = {type: data.secondVarType, value: data.secondVarConstant}
        } else {
            toSubmit.secondVar = {type: data.secondVarType, value: data.secondVarDataSource}
        }
        toSubmit.comparison = data.comparison
        toSubmit.name = data.name
        sendData('api/trigger', toSubmit, 'POST', reload=true);
    }

    function hideUnhideSecondVarFields(dropDown){
        const secondVarDataSource= document.querySelector(`[id=secondVarDataSource]`);
        const secondVarDataSourceText = document.querySelector(`[id=secondVarDataSourceText]`);

        const secondVarConstant = document.querySelector(`[id=secondVarConstant ]`);
        const secondVarConstantText = document.querySelector(`[id=secondVarConstantText ]`);

        secondVarConstantText.style.display = "block";
        secondVarDataSourceText.style.display = "block";

        secondVarConstant.style.display = "inline";
        secondVarDataSource.style.display = "inline"

        if (dropDown.value === "dataSource") {
            secondVarConstant.style.display = "none";
            secondVarConstantText.style.display = "none";
            return;
        } 
        secondVarDataSource.style.display = "none"
        secondVarDataSourceText.style.display = "none"
    }

    window.onload = () => {
        document.getElementById('jobForm').addEventListener('submit', submitJobHandler);

        // toggle between secondVar constant input field and secondVar data source dropdown menu depending on data type
        hideUnhideSecondVarFields(document.querySelector('#secondVarType'));
        document.querySelector('#secondVarType').addEventListener("change", function(dropDown) {hideUnhideSecondVarFields(dropDown.target)});

        hideUnhideJobForms(document.querySelector('#do'));
        document.querySelector('#do').addEventListener("change", function(dropDown) {hideUnhideJobForms(dropDown.target)});
    }
    
</script>


<body>
    <div class="topnav">
        <a href="/dashboard">Dashboard</a>
        <a href="/remote">Remote</a>
        <a href="/schedule">Schedule</a>
        <a class="active" href="/trigger">Trigger</a>
        <a href="/notes">Notes</a>
        <a href="/macros">Macros</a>
    </div> 

    <h3>Current Triggers:</h3>
        <ul>
            {% if triggerJobs|length == 0 %}
                <center class="faintText">No Triggers</center>
            {% endif %}

            {% for job in triggerJobs %}
                {% set jobId = job['id'] %}
                {% set jobName = job['name'] %}

                {% set dropDownId =  'drop-down-button-%s' % (jobId) %}
                {% set jobTextId =  'job-text-%s' % (jobId) %}
                <li>
                    <div class="job">

                        {{ m.deleteButton( "jobDelete('api/trigger/jobs', '%s')" % (jobId) ) }}

                        <button class="blueButton" onclick="updateJobName('api/trigger/jobs', '{{ jobId }}', '{{ jobName }}' )">{{ jobName }}</button>

                        {{ m.dropDownButton( dropDownId, jobTextId ) }}

                        {% if job['enabled'] %}
                            {{ m.enabledButton( "jobEnable('api/trigger/jobs/enable', '%s', false)" % (jobId) ) }}
                        {% else %}
                            {{ m.disabledButton( "jobEnable('api/trigger/jobs/enable', '%s', true)" % (jobId) ) }}
                        {% endif %}


                        <div class="jobText" id="{{ jobTextId }}">
                            {% if job['negated'] %}
                                <span class="nobr">if {{ job['firstVar']['value'] }} not {{ job['comparison'] }} {{ job['secondVar']['value'] }}</span>
                            {% else %}
                                <span class="nobr">if {{ job['firstVar']['value'] }} {{ job['comparison'] }} {{ job['secondVar']['value'] }}</span>
                            {% endif %}

                            {% set do = job['do'] %}
                            {{ m.jobRepr(do['type'], do['data']) }}
                        </div>

                    </div>
                </li>
            {% endfor %}
        </ul>

    <h3>New Trigger:</h3>

        <form id="jobForm">
            <section>
                <div class="formDiv">
                    <label for="jobName">Trigger Name:</label>
                    <input type="text" id="jobName" name="name" maxLength = "20" required>
                </div>
            <section>

            <br style="clear:both;" />

            <section>
                <div class="formDiv">
                    <label for="firstVar" id="firstVarText">1st Var:</label>
                    <select id="firstVar" name="firstVar" required>
                    {% for value in values %}
                        <option value="{{ value }}">{{ value }}</option>
                    {% endfor %}
                    </select>
                </div>
            </section>

            <br style="clear:both;" />

            <section>
                <div class="formDiv">
                    <label for="negated" id="negatedText">Not:</label>
                    <input type="checkbox" id="negated" name="negated" value="true">
                </div>

                <div class="formDiv">
                    <label for="comparison" id="comparisonText">Compare: </label>
                    <select id="comparison" name="comparison" required>
                        {% for comp in comparisons %}
                            <option value="{{ comp }}">{{ comp }}</option>
                        {% endfor %}
                    </select>
                </div>
            </section>

            <br style="clear:both;" />

            <section>
                <div class="formDiv">
                    <label for="secondVarType" id="secondVarTypeText">Type: </label>
                    <select id="secondVarType" name="secondVarType" required>
                        <option value="constant">constant</option>
                        <option value="dataSource">data</option>
                    </select>
                </div>

                <div class="formDiv">
                    <label for="secondVarConstant" id="secondVarConstantText">Constant:</label>
                    <input type="text" id="secondVarConstant" name="secondVarConstant" maxLength = "20" size="10" required>
                </div>

                <div class="formDiv">
                    <label for="secondVarDataSource" id="secondVarDataSourceText">2nd Var:</label>
                    <select id="secondVarDataSource" name="secondVarDataSource" required>
                    {% for value in values %}
                        <option value="{{ value }}">{{ value }}</option>
                    {% endfor %}
                    </select>
                </div>
            </section>

            <br style="clear:both;" />

            {{ m.jobFormDo(remotes) }}

            <br style="clear:both;" />

            <section>
                <div class="formDiv">
                    <button type="submit" class="greenButton">Create Trigger</button>
                </div>
            </section>

            <br style="clear:both;" />

        </form>
  </body>
</html>
