:root {
    --darkGrey: #1e1f1c;
    --darkGreyA: #1e1f1cb9;
    --lightGreyA: #75715eb9;
    --grey: #272822;
    --lightGrey: #75715e;
    --white: #f8f8f2;
    --purple: #B267E6;
    --red: #F92672;
    --blue: #66D9EF;
    --green: #A6E22E;
    --yellow: #E6DB74;
    --orange: #FD971F;
    }
    @font-face {
      font-family: "Noto-Color-Mono";
      src: url('NotoColorEmoji-Regular.ttf') format('truetype');
    }
    @font-face {
      font-family: "Noto-Sans-Mono";
      src: url('NotoSansMono-Regular.ttf') format('truetype');
    }

    * {
      font-family: Noto-Sans-Mono;
    }
    html {
        background-color: var(--darkGrey);
        background-image: url("ferns-compressed.jpeg");
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;

        color: var(--white);
    }

    body{
        margin-left: auto;
        margin-right: auto;
        width: fit-content;

        border: 2pt solid var(--lightGreyA);
        border-radius: 4px;

        background-color: var(--darkGreyA);
        padding: 10pt;
    }

    .faintText {
        color: var(--lightGreyA);
    }

    a {
        color:  var(--blue);
    }

    a:visited {
        color: var(--lightGrey);
    }

    .nobr {
        white-space:nowrap;
    }

    button{
        background-color: var(--darkGrey);

        border: 2pt solid var(--white);
        border-radius: 4pt;
        background-color: var(--darkGrey);
        color: var(--white);
        padding: 10pt 15pt;
        /* padding: 5pt 10pt; */
        cursor: pointer;
    }
    button:active {
        color: var(--darkGrey);
        background-color: var(--white);
    }

    .blueButton {
        color: var(--blue);
        border-color: var(--blue);
    }

    .greenButton {
        color: var(--green);
        border-color: var(--green);
    }

    .redButton {
        color: var(--red);
        border-color: var(--red);
    }

    .purpleButton {
        color: var(--purple);
        border-color: var(--purple);
    }

    .whiteButton {
        color: var(--white);
        border-color: var(--white);
    }
    .yellowButton {
        color: var(--yellow);
        border-color: var(--yellow);
    }
    .orangeButton {
        color: var(--orange);
        border-color: var(--orange);
    }
    .grayButton {
        color: var(--lightGrey);
        border-color: var(--lightGrey);
    }

    ul{
        padding: 0;
        list-style-type: none;
    }

    ul.remote {
      border: 2pt solid var(--lightGrey);
      background-color: var(--grey);
      padding:10pt;
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
      border-radius: 4pt;
    }
    ul.remote > li {
    }
    ul.remote > li > span {
      text-decoration: none;
    }
    .on-off-channel {
        padding: 3pt;
    }
    .remoteChannelNum {
        padding: 3pt;
    }

    .topnav {
      border: 2pt solid var(--lightGrey);
      background-color: var(--grey);
      overflow: hidden;
      width: fit-content;
      border-radius: 4px;
    }

    .topnav a {
      float: left;
      color: var(--white);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .topnav a.active {
      background-color: var(--green);
      color: var(--darkGrey);
    }

    input, label {
        display:block;
    }

    .atInput {
        display:inline;
        padding-left:0px;
    }

    .formDiv {
        float:left;
        padding:3pt;
    }
    .job {
        width: fit-content;
        border: 2pt solid var(--lightGrey);
        border-radius: 4px;
        background-color: var(--grey);
        padding:5pt;
        margin-bottom:15pt;
    }

    .jobText {
        border: 2pt solid var(--lightGrey);
        background-color: var(--darkGrey);
        padding:5pt;
        margin-top:5pt;
        border-radius: 4px;
    }
    #jobForm {
        width: fit-content;
        border: 2pt solid var(--lightGrey);
        background-color: var(--grey);
        padding:5pt;
        border-radius: 4px;
    }

    .indent {
        padding-left: 3%;
    }

    @media (hover: hover) {
        .blueButton:hover {
            color: var(--darkGrey);
            background-color: var(--blue);
        }

        .greenButton:hover {
            color: var(--darkGrey);
            background-color: var(--green);
        }

        .redButton:hover {
            color: var(--darkGrey);
            background-color: var(--red);
        }
        .purpleButton:hover {
            color: var(--darkGrey);
            background-color: var(--purple);
        }
        .whiteButton:hover {
            color: var(--darkGrey);
            background-color: var(--white);
        }
        .yellowButton:hover {
            color: var(--darkGrey);
            background-color: var(--yellow);
        }
        .orangeButton:hover {
            color: var(--darkGrey);
            background-color: var(--orange);
        }
        .grayButton:hover {
            color: var(--darkGrey);
            background-color: var(--lightGrey);
        }

        ul.remote > li:hover {
        }

        .topnav a:hover {
          background-color: var(--lightGrey);
          color: var(--darkGrey);
        }
    }

.dashboardList {
  display: flex;
  flex-wrap: wrap;
  width:fit-content;
  max-width:90vw;
  /*gap: 6px*/
}

.dashboardList div {
    width: fit-content;
    border: 2pt solid var(--lightGrey);
    border-radius: 4px;
    background-color: var(--grey);
    padding:5pt;
    height: fit-content;
    /*margin-bottom:15pt;*/
    margin:5pt;
}

.dashboardList div p{
    border: 2pt solid var(--lightGrey);
    background-color: var(--darkGrey);
    padding:5pt;

    margin:0;
    margin-top:5pt;

    border-radius: 4px;
    white-space: pre-wrap;
    font-family: Noto-Sans-Mono, Noto-Color-Mono;
    font-size:11pt;
}
