:root {
    --darkGrey: #1e1f1c;
    --grey: #272822;
    --lightGrey: #75715e;
    --white: #f8f8f2;
    --purple: #B267E6;
    --red: #F92672;
    --blue: #66D9EF;
    --green: #A6E22E;
    --yellow: #E6DB74;
    --orange: #FD971F;
    }

    a {
        color:  var(--blue);
    }
    a:visited {
        color: var(--lightGrey);
    }

    button{
        border-radius:15%;
        background-color: var(--darkGrey);

        border: 2pt solid var(--white);
        background-color: var(--darkGrey);
        color: var(--white);
        padding: 11pt 20pt;
        font-size: 12pt;
        cursor: pointer;
    }

    button.greenButton {
        color: var(--green);
        border-color: var(--green);
    }
    button.greenButton:hover {
        color: var(--darkGrey);
        background-color: var(--green);
    }
    button.greenButton:active {
        color: var(--darkGrey);
        background-color: var(--white);
    }

    button.redButton {
        color: var(--red);
        border-color: var(--red);
    }
    button.redButton:hover {
        color: var(--darkGrey);
        background-color: var(--red);
    }
    button.redButton:active {
        color: var(--darkGrey);
        background-color: var(--white);
    }

    ul{
        padding: 0;
        list-style-type: none;
    }

    html {
        background-color: var(--darkGrey);
        color: var(--white);
        font-family: Droid Sans Mono !important;
    }

    ul.remote {
    }
    ul.remote > li {
    }
    ul.remote > li:hover {
    }
    ul.remote > li > nobr {
      text-decoration: none;
    }
    .on-off-channel {
        padding: 3pt;
    }

    /* Add a black background color to the top navigation */
    .topnav {
      background-color: var(--grey);
      overflow: hidden;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
      float: left;
      color: var(--white);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
      background-color: var(--lightGrey);
      color: var(--darkGrey);
    }

    /* Add a color to the active/current link */
    .topnav a.active {
      background-color: var(--green);
      color: var(--darkGrey);
    }

