:root {
    --darkGrey: #1e1f1c;
    --grey: #272822;
    --lightGrey: #75715e;
    --white: #f8f8f2;
    --purple: #B267E6;
    --red: #F92672;
    --blue: #66D9EF;
    --green: #A6E22E;
    --yellow: #E6DB74;
    --orange: #FD971F;
    }

    a {
        color:  var(--blue);
    }
    a:visited {
        color: var(--lightGrey);
    }

    button{
        background-color: var(--darkGrey);

        border: 2pt solid var(--white);
        background-color: var(--darkGrey);
        color: var(--white);
        padding: 11pt 20pt;
        font-size: 12pt;
        cursor: pointer;
    }

    .greenButton {
        color: var(--green);
        border-color: var(--green);
    }

    .redButton {
        color: var(--red);
        border-color: var(--red);
    }
    
    .greenButton:active {
        color: var(--darkGrey);
        background-color: var(--white);
    }

    .redButton:active {
        color: var(--darkGrey);
        background-color: var(--white);
    }

    ul{
        padding: 0;
        list-style-type: none;
    }

    html {
        background-color: var(--darkGrey);
        color: var(--white);
        font-family: Droid Sans Mono !important;
    }

    ul.remote {
      border: 2pt solid var(--lightGrey);
      background-color: var(--grey);
      padding:10pt;
      width: fit-content;
    }
    ul.remote > li {
    }
    ul.remote > li > nobr {
      text-decoration: none;
    }
    .on-off-channel {
        padding: 3pt;
    }

    .topnav {
      border: 2pt solid var(--lightGrey);
      background-color: var(--grey);
      overflow: hidden;
    }

    .topnav a {
      float: left;
      color: var(--white);
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }

    .topnav a.active {
      background-color: var(--green);
      color: var(--darkGrey);
    }

    input, label {
        display:block;
    }

    .atInput {
        display:inline;
    }

    .formDiv {
        float:left;
        padding:3pt;
    }
    #jobForm {
        width: fit-content;
        border: 2pt solid var(--lightGrey);
        background-color: var(--grey);
        padding:3pt;
    }
    .schedule {
        width: fit-content;
        border: 2pt solid var(--lightGrey);
        background-color: var(--grey);
        padding:3pt;
    }

    .indent {
        padding-left: 3%;
    }

    @media (hover: hover) {
        .greenButton:hover {
            color: var(--darkGrey);
            background-color: var(--green);
        }

        .redButton:hover {
            color: var(--darkGrey);
            background-color: var(--red);
        }

        ul.remote > li:hover {
        }

        .topnav a:hover {
          background-color: var(--lightGrey);
          color: var(--darkGrey);
        }
    }
